@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f9fafb;
}

/* Custom toggle switch styles */
input[type="checkbox"]:checked + .dot {
  transform: translateX(100%);
}

input[type="checkbox"]:checked + div {
  background-color: #4F46E5;
}

.dot {
  transition: all 0.3s ease-in-out;
}